#menu {
    height: 6rem;
    background: #254F41;
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 1.3rem;
    -webkit-font-smoothing: antialiased;
}
#menu .top-bar {
    z-index: 500;
    background: transparent;
    min-height: 100%;
}
.content_wrapper {
    max-width: 98rem;
    margin: 0 auto;
}
.top-bar {
    /* background: #333333; */
    overflow: visible;
    height: 2.8125rem;
    line-height: 2.8125rem;
    position: relative;
}
#menu .top-bar .title-area {
    height: 6rem;
}
.top-bar .title-area {
    float: left;
}

.top-bar .title-area {
    position: relative;
    margin: 0;
}

ul, ol, dl, p {
    font-size: 1.3rem;
}
*:before, *:after {
    
    box-sizing: border-box;
}
#menu .top-bar .name a {
    display: block;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
a {
	color: #0E2033;
    background-color: transparent;
}
#menu .top-bar #menu_college_name {
    vertical-align: top;
    height: 100%;
}
li {
    display: inline-block;
}
#menu .top-bar .menu-icon {
    margin-top: -23px;
    padding: 0.6rem 0.4rem 0.5rem 0.4rem;
}

.top-bar-section {
    left: 0 !important;
}
.top-bar-section {
    position: relative;
    width: auto;
    transition: left 300ms ease-out;
}
.top-bar-section ul {
    width: auto;
    height: auto !important;
    display: inline;
}
.top-bar-section ul {
    padding: 0;
    font-size: 16px;
    margin: 0;
}
.right {
    float: right !important;
}
#footer {
	 font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 1.3rem;
    background: #254F41;
    color: #fff;
    padding-bottom: 2.8rem;
    text-shadow: none;
        -webkit-font-smoothing: antialiased;
}
.row {
    max-width: 98rem;
    box-sizing: border-box !important;
}
.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    /* max-width: 62.5rem; */
}
.row:before, .row:after {
    content: " ";
    display: table;
}
.column {
    box-sizing: border-box !important;
}
.large-3 {
    width: 25%;
}
.column, .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
}

.small-12 {
    width: 100%;
}
#footer_bottom {
    padding: 1rem 0;
    text-align: center;
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 1.3rem;
    color: #333;
    text-shadow: none;
    padding: 0;
    margin: 0;
    width: 100%;
    background: #fff;
    -webkit-font-smoothing: antialiased;
}
#footer_bottom #footer_bottom_college {
    text-align: left;
}
#footer_bottom .column {
    padding: 1rem 0;
}
.large-6 {
    width: 50%;
}
#footer_bottom #powered-by-ism {
    text-align: right;
}
#unsupported_browser {
    width: 720px;
    display: none;
    border: 3px solid #c3c3c3;
    margin: 100px auto;
    text-align: center;
    padding: 0px 40px;
}